.adsCardListButton {
  max-width: 320px;
  border: 1.5px solid #e8e8e8;
  border-radius: 5px;
  margin: 40px auto 0;
  padding: 10px 145px 8px;
  background-color: inherit;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  @media screen and (max-width: 460px) {
    padding: 10px 106px 8px;
  }
}

.adsCardListButton-text {
  font-size: 0.75em;
  line-height: 15px;
  font-weight: 500;
  color: #fff;
}
