.comment-list {
    @include flexColumn();
    height: 16vh;
    overflow: auto;
    justify-content: flex-start;
}

.comment__author-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.comment-text.comment__author-text span {
    margin-left: 20px;
    font-size: 13px;
}

.comment-box {
    width: 100%;
    justify-content: space-between;
}
